* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
    
}

img {
    width: 100%;
}

#page-header {
   background-color: black;
    display: grid;
    height: 90vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
}

#page-header-menu {
    height: 30px;
    width: 30px;
    justify-self: center;
    margin-top: 10px;
}

#page-header>h1 {
    font-family: Cursive;
}

#page-main {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    place-items: center;
}

#page-main-about-us {
    display: grid;
    margin: 25px;
    width: 80%;
    padding: 20px;
    box-shadow: 6px 6px 12px gray;
    background-color: white;
}

#page-main-about-us-div-read-more {
    display: grid;
    grid-template-columns: 6fr 1fr;
    place-items: center;
}

#page-main-about-us-div-read-more>a {
    text-decoration: none;
    color: red;
}

#page-main-professional-contact {
    display: grid;
    place-items: center;
    margin: 25px 0px;
    width: 100%;
}

#page-main-professional-contact>h1 {
    background-color: black;
    color: whitesmoke;
    width: 95%;
    padding: 8px;
}

#page-main-professional-contact>button {
    margin: 10px;
    height: 40px;
    width: 100px;
    color: red;
    font-weight: 800;
}

#page-main-agenda {
    display: grid;
    margin: 25px;
    width: 80%;
    padding: 20px;
    box-shadow: 6px 6px 12px gray;
    background-color: white;
}

#page-main-agenda>h1 {
    margin-bottom: 20px;
}

#page-main-agenda-date {
    display: grid;
    row-gap: 30px;
}

.page-main-agenda-date-class>h2 {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    color: red;
}

.page-main-agenda-date-class>button {
    margin: 10px;
    height: 40px;
    width: 100px;
    color: red;
    font-weight: 800;
}

#page-main-agenda-see-more {
    display: grid;
    grid-template-columns: 6fr 1fr;
    place-items: center;
    margin-top: 20px;
}

#page-main-agenda-see-more>a {
    text-decoration: none;
    color: red;
}

#page-main-concert-picture {
    width: 100%;
    object-fit: cover;
    text-align: center;
    margin-top: 40px;
    display: grid;
    margin-bottom: 40px;
}

#page-main-concert-picture>p {
    padding: 20px 20px;
    background-color: black;
    color: whitesmoke;
}

#page-main-youtube-section {
    display: grid;
    row-gap: 5px;
}

#page-main-youtube-section>iframe {
    width: 90vw;
}

#page-main-social-media {
    display: grid;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
}

#page-main-social-media>h1 {
    padding: 30px 30px 15px;
    letter-spacing: 4px;
}

#page-main-social-media-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    place-items: center;
}

#page-main-social-media-logos>img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

#page-main-social-media-logos>img:hover {
    cursor: pointer;
}

#page-footer {
    min-height: 150px;
    background-color: rgb(168, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: 40px;
    display: grid;
    place-items: center;
}